Django>=5.2,<6.0
djangorestframework>=3.16
djangorestframework-simplejwt>=5.5
django-cors-headers>=4.7
django-filter>=25.1
boto3>=1.35
django-storages>=1.14
python-dateutil>=2.9
celery>=5.5
redis>=5.2
psycopg[binary]>=3.2
python-dotenv>=1.1
gunicorn>=23.0
